trigger:
- none

pool:
  vmImage: 'ubuntu-latest'

steps:
#  Checkout Code
- checkout: self

#  Azure Login
- task: AzureCLI@2
  displayName: 'Azure Login'
  inputs:
    azureSubscription: 'My-Service-Connection'
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      az account show

#  Install Terraform
- bash: |
      sudo apt-get update -y
      sudo apt-get install -y unzip
      wget https://releases.hashicorp.com/terraform/1.7.5/terraform_1.7.5_linux_amd64.zip
      unzip terraform_1.7.5_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
      terraform -version
  displayName: 'Install Terraform'

#  Terraform Init
- bash: |
      terraform init \
        -backend-config="resource_group_name=YOUR-BACKEND-RG" \
        -backend-config="storage_account_name=YOUR-STORAGE" \
        -backend-config="container_name=tfstate" \
        -backend-config="key=linuxvm.tfstate" \
        -reconfigure
  displayName: 'Terraform Init'

#  Terraform Plan
- bash: |
      terraform plan -var="admin_password=$(admin_password)"
  displayName: 'Terraform Plan'

#  Terraform Apply
- bash: |
      terraform apply -auto-approve -var="admin_password=$(admin_password)"
  displayName: 'Terraform Apply'

