# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main
 
pool:
  vmImage: 'ubuntu-latest'
 
steps:
# 1Checkout Repo
- checkout: self
 
# 2 Login to Azure using Service Connection
- task: AzureCLI@2
  displayName: 'Azure Login'
  inputs:
    azureSubscription: 'f2f9ac2b-5723-4bc5-b23a-07927ce38bb7'
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      echo "Logged in successfully"
 
# 3️ Install Terraform Manually
- bash: |
      sudo apt-get update -y
      sudo apt-get install -y unzip
      wget https://releases.hashicorp.com/terraform/1.7.5/terraform_1.7.5_linux_amd64.zip
      unzip terraform_1.7.5_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
      terraform -version
  displayName: 'Install Terraform'
 
# 4️ Terraform Init
- bash: |
      terraform init
  displayName: 'Terraform Init'
 
# 5️ Terraform Plan using tfvars
- bash: |
      terraform plan -var-file=terraform.tfvars
  displayName: 'Terraform Plan'
 
# 6️ Terraform Apply using tfvars
- bash: |
      terraform apply -var-file=terraform.tfvars -auto-approve
  displayName: 'Terraform Apply'
